@import url(variables.css);

body {
    color: var(--color-principal-frente);
    background-color: var(--color-principal-fondo);
}

body > * {
    text-transform: uppercase;
}
#cabecera {
    background-color: var(--color-cabecera-fondo);
    color: var(--color-cabecera-frente);
    padding: 10px;
    margin: -8px;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: flex-start;
}
#cabecera nav {
    margin-left: 5px;
}
.error {
    color: var(--color-error-frente)!important;
    font-size: calc(var(--tamaño-medio) * var(--factor-grande));
}

.cursiva, td {
    font-style: italic;
    color: cyan;
}

h1, h2, h3 {
    font-weight: bold;
}

h1.falta {
    display: none;
}

.lista-open {
    list-style: circle;
}

form input[type=text] {
    color: var(--color-error-frente);
}
input[required] {
    border-color: green;
}

h1+h2 {
    font-style: italic;
}

footer p {
    
}
@media print {
    input[type=submit], input[type=reset],input[type=button], button {
        display: none;
    }

    form input[type=text] {
        border-style: none;
    }

}